apiVersion: apps/v1
kind: Deployment
metadata:
  name: "react-app"
  labels:
    app: "react-app"
spec:
  replicas: 3
  selector:
    matchLabels:
      app: "react-app"
  template:
    metadata:
      labels:
        app: "react-app"
    spec:
      containers:
      - name: react-container
        image: aksforgecontainerregistry.azurecr.io/aksforgefinal
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: "react-app"
  name: "react-app"
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 3000
  selector:
    app: "react-app"
  sessionAffinity: None
  type: LoadBalancer

# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: "react-app"
#   labels:
#     app: "react-app"
# spec:
#   replicas: 3
#   selector:
#     matchLabels:
#       app: "react-app"
#   template:
#     metadata:
#       labels:
#         app: "react-app"
#     spec:
#       containers:
#       - name: react-container
#         image: aksforgecontainerregistry.azurecr.io/aksforgefinal
#         ports:
#         - containerPort: 3000
# ---
# apiVersion: v1
# kind: Service
# metadata:
#   labels:
#     app: "react-app"
#   name: "react-app"
# spec:
#   ports:
#     - port: 80
#       protocol: TCP
#       targetPort: 3000
#   selector:
#     app: "react-app"
#   sessionAffinity: None
#   type: LoadBalancer